<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>{{page-title}}</h1>
            <p class="lead">Explora y administra tu colección de series de televisión favoritas.</p>
        </div>
    </div>
</div>