<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page-title}}</title>
</head> 
<body>
   <div class="container">
    <div class="row"></div>
        <div class="text-center">
            <h1>{{page-title}}</h1>
            <p>Sorry, the page you are looking for does not exist.</p>
            <a href="/">Volver</a>
        </div>
    </div>
    </div>
    </body>
</html>