<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page-title}}- 500</title>
</head> 
<body>
   <div class="container">
    <div class="row"></div>
        <div class="text-center">
            <h1>{{page-title}}</h1>
            <p>Sorry We had an error</p>
            <p> Come later</p>
        </div>
    </div>
    </div>
    </body>
</html>