<div class="container">
    <div class="row">
        <div class="col text-center">
            <h1>Bienvenido al Gestor de Cine</h1>
            <p class="lead">Explora y administra tu colección de series y géneros favoritos.</p>
        </div>
    </div>
</div>