.hover-shadow {
    transition: all 0.3s ease;
}

.hover-shadow:hover {
    transform: translateY(-5px);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}

.delete-genre:hover {
    background-color: #dc3545;
    color: white;
}

.img-size {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5%;
}